
# Created by https://www.gitignore.io/api/assembler,visualstudiocode

### Assembler ###
*.exe
*.o
*.obj
*.bc

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/assembler,visualstudiocode